* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align:top ;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  #ffd90f;
}


/* ================= HEADER ======================== */
figure{
    width: 100%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(118, 165, 227) ;
     
}

.card-header h1 {
    color: #fff;
}

.card-header img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.card {
    background-color: #fff;
    width: 1000px;
}

/* ============ MAIN =========== */
.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
}

.menu {
    
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 165, 227) ;
    box-sizing: border-box;
    padding: 10px;
    margin: 30px 3px;
    width: 15%;
    gap: 10px;
}

.menu a {
    color: #fff;
    
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: justify;
    box-sizing: border-box;
    margin: 5px 5px;
    width: 60%;
}

.article h1 {
    color: #ffd90f;
    box-sizing: border-box;
    padding: 10px 0px;
    margin: 15px 0px;
}

.mg-bio {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(118, 165, 227);
    box-sizing: border-box;
    padding: 10px;
    margin: 30px 3px;
    width: 20%;
    
}

.mg-bio figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0px;
}

.mg-bio img {
    display: flex;
    text-align: justify;
    box-sizing: border-box;
    border: solid #fff 1px;
    margin: 3px 0px;;
    width: 110px;
}

.mg-bio p {
    display: flex;
    text-align: justify;
}

/* ============== FOOTER ================== */

.card-foot {
    display: flex;
    justify-content: center;
    background-color: rgb(112, 112, 240);
    color: #fff;
}

/* =============== MOBILE VERSION ===================== */

@media screen and (max-width: 640px) {
    *{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .title {
        display: none;
    }
    
    .card {
        width: auto;
    }

    .body {
        align-items: center;
    }

    .menu {
        margin: 30px 95px;
        width: 80%;
    }

    .article {
        width: 90%;
    }
    
    .mg-bio {
        width: 66%;
    }

    

    
}